package ${package}.common.service.businessFunction.impl;

import java.lang.reflect.Field;
import java.lang.reflect.Method;
import java.util.ArrayList;
import java.util.List;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${package}.common.mapper.businessFunction.${className}Mapper;
import ${package}.common.model.businessFunction.${className};
import ${package}.common.service.businessFunction.${className}Service;

import tk.mybatis.mapper.entity.Example;
import tk.mybatis.mapper.entity.Example.Criteria;

/**
 * ${comments}-业务层实现类
 * @author ${author} E-mail:${email}
 * @date 创建时间：${createTime}
 * @version 1.0
 * @since 
 */
@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Mapper ${classname}Mapper;


}
