<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.checkOut.common.mapper.businessFunction.PrepurchaseListMapper">
  <resultMap id="BaseResultMap" type="com.checkOut.common.model.businessFunction.PrepurchaseList" >
    <!--
      WARNING - @mbg.generated
    -->
        <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR"/>
        <result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR"/>
        <result column="PREPURCHASE_NUM" property="prepurchaseNum" jdbcType="INTEGER"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper>