<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<title>generator-list</title>
</head>
<body>
	<form action="" id="tableForm" class="form-horizontal" style="width: 100%">
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</form>
	<div th:include="common::header"></div>
	<script src="/generator-list.js"></script>
</body>
</html>