<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<title>goods-list</title>
</head>
<body>
	<form id="goodsForm" class="form-horizontal" style="width: 100%">
		<div class="form-group">
			<label for="goodsId" class="col-md-1 control-label">商品条码（ID）</label>
			<div class="col-md-2">
				<div class="input-group">
					<input type="text" id="goodsId" name="goodsId" class="form-control" />
 					<div class="input-group-addon" onclick="javasciprt:$('#goodsId').val('');">
 						<i class="fa fa-close fa-fw"></i>
 					</div>
				</div>
			</div>
			<label for="goodsName" class="col-md-1 control-label">商品名称</label>
			<div class="col-md-2">
				<div class="input-group">
					<input type="text" id="goodsName" name="goodsName" class="form-control" />
					<div class="input-group-addon" onclick="javasciprt:$('#goodsName').val('');">
						<i class="fa fa-close fa-fw"></i>
					</div>
				</div>
			</div>
			<label for="goodsType" class="col-md-1 control-label">商品分类</label>
			<div class="col-md-2">
				<select id="goodsType" name="goodsType" class="form-control">
					<option value="">请选择</option>
					<option value="1">洗浴用品</option>
					<option value="2">护肤品</option>
					<option value="3">服饰包包</option>
					<!-- <option value="4"></option>
					<option value="5"></option> -->
				</select>
			</div>
			<!-- <label for="goodsNum" class="col-md-1 control-label">商品库存</label>
			<div class="col-md-2">
				<select id="goodsNum" name="goodsNum" class="form-control">
					<option value="">请选择</option>
					<option value="20">高</option>
					<option value="10">中</option>
					<option value="5">低</option>
				</select>
			</div> -->
		</div>
	
		<div class="form-group text-center">
			<a href="javascript:void(0)" id="searchBtn" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
		</div>
		<div class="form-group">
			<div class="col-sm-1">
				<shiro:hasPermission name="goods:add">
					<a class="btn btn-default btn-block" href="/goods/fetch">添加商品</a>
				</shiro:hasPermission>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<table id="jqGrid" style="width: 100%"></table>
				<div id="jqGridPager" style="width: 100%"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<a id="deleteAllBtn" class="btn btn-default btn-block">全部删除</a>
			</div>
		</div>

	</form>
	<div th:include="common::header"></div>
	<script th:src="@{'/projectJS/businessFunction/goods-list.js?time='+${new java.util.Date().getTime()}}"></script>
</body>
</html>