<html th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="/css/all-skins.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/router.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/js/fastclick.min.js"></script>
	<script src="/plugins/layer/layer.js"></script>
</html>