<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.checkOut.common.mapper.GeneratorMapper">

	<sql id="sortParam">
		<if test="sortField !=null and sortField != '' ">
			ORDER BY ${sortField}
			<if test="sortDirection !=null and sortDirection != '' ">
				${sortDirection}
			</if>
		</if>
	</sql>

	<select id="queryListMysql" parameterType="com.checkOut.common.model.Table" resultType="java.util.Map">
		SELECT TABLE_NAME, TABLE_ROWS, ENGINE, TABLE_COMMENT, CREATE_TIME
		FROM INFORMATION_SCHEMA.TABLES
		<where>
			table_schema='check_out'
			<if test="tableName != null and tableName.trim() != ''">
				AND INSTR(TABLE_NAME,#{tableName})>0
			</if>
		</where>
		<!-- <include refid="sortParam"/> -->
	</select>

	<select id="queryTable" resultType="java.util.Map">
		SELECT TABLE_NAME, TABLE_SCHEMA, ENGINE, TABLE_COMMENT, CREATE_TIME FROM INFORMATION_SCHEMA.TABLES
		<where>
			table_schema='check_out'
			<if test="tableName != null and tableName.trim() != ''">
				AND TABLE_NAME = #{tableName}
			</if>
		</where>
	</select>

	<select id="queryColumns" resultType="java.util.Map">
		SELECT COLUMN_NAME, DATA_TYPE, COLUMN_COMMENT, COLUMN_KEY, EXTRA FROM INFORMATION_SCHEMA.COLUMNS
		<where>
			table_schema='check_out'
			<if test="tableName != null and tableName.trim() != ''">
				AND TABLE_NAME = #{tableName}
			</if>
		</where>
		ORDER BY ORDINAL_POSITION
	</select>
</mapper>